.imagewrapper img{
	height:50vh;
	min-height: 521px;
	width:100%;
	overflow: hidden;
	margin-bottom: 34px;
}
.content .container {
	padding:34px 0 62px 0;	
}
.gallerywrapper .gallery {
	width: 275px;
	float: left;
	text-align: center;
	margin: 0 63px 0 0;
}
.gallery .imagecontainer {
	height: 209px;
	margin-bottom: 21px;
	position: relative;
}
.gallery .imagecontainer i {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 100%;
	left: 50%;
	margin: -22px 0 0 -17px;
	border-radius: 50%;
	background-color: #f68d04;
}
.gallery .imagecontainer .icon-aeroplan {
	margin-top: -19px;
	background-position: -44px 0;
}
.gallery .icon-batch {
	background-position: -79px 0;
}
.gallery .icon-bag {
	background-position: -117px 0;
}
.gallery .heading {
	text-transform: uppercase;
	margin-bottom: 4px;
}
.gallery p {
	min-height: 120px;
	letter-spacing: 0.06px;
}
.gallery .learn {
	font: italic 14px 'Georgia';
	text-decoration: underline;
	color: #eaa81c;
	padding-right: 20px;
	position: relative;
}
.gallery .learn::after {
	content: '';
	position: absolute;
	border-left: 4px solid #ec9915;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	left: 100%;
	margin: -3px 0 0 -16px;
	top: 50%;
}
.gallery .learn:hover, .gallery .learn:hover::after {
	text-decoration: none;
}
.gallerywrapper .gallery2 {
	margin-right: 62px;
}
.gallerywrapper .gallery3 {
	margin: 0;
}
.gallery2 .learn, .gallery3 .learn {
	padding-left: 14px;
}
